@tailwind base;
@tailwind components;
@tailwind utilities;

.preview {
  width: 1280px;
  transform: scale(0.674297) translate(0px, 42.85px);
  transform-origin: center top;
  pointer-events: auto;
  height: 1068px;
}

[data-block] {
  &:hover{
    @apply outline outline-2 outline-blue-500;
  }
}
